# Ignore everything
*

# Allow .gitignore
!.gitignore

# Allow src and docs folders
!src/
!docs/
!.antigravity/

 # But specifically ignore the database config
src/R/db_config.R
src/python/db_config.py

# Ignore other junk**/*.pyc
**/__pycache__/
**/.env
.antigravity/
